* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: $mainColor;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.animacion-titulo:hover > h1 {
    animation: jackInTheBox;
    animation-duration: 1s;
    font-weight: bold;
    transition: all 1s;
    
}
