nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba($color: $mainColor, $alpha: 0.5);

    .nav-link {
        font-size: 1.3rem;
    }
}

.bg-image {
    background-image: url('../imagenes/carrusel2.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}