//Responsive//
@media (max-width:768px) {
    /* Index Responsive*/
    .text-main {
        .lead {
            margin-top: 0px;
            padding-left: 0px;
        }
    
    }

    /* Habitacion responsive*/
    .overlay {
        display: none;

    }
    .card-title {
        display: block;
    }

    /*Amenities responsive*/
    .main-amenities {
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 50px;

        .iconos-amenities {
            width: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            div {
                padding: 10px;

                i {
                    font-size: 40px;
                }
            }
        }
    }

    /* Galeria responsive*/
    .main-galeria {
        .grid-galeria {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            gap: 40px;

            img {
                width: 80vw;
                height: 25vh;


            }
        }
    }

    /* Contacto responsive*/
    .main-contacto {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .titulo-contacto {
            text-align: center;
            margin-bottom: 20px;

        }

        .seccion-contacto {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            .parrafo-contacto {
                font-size: 18px;
                max-width: 350px;
                text-align: center;
                padding-top: 50px;
            }
            form {
                padding: 10px;
                max-width: 80vw;

                .flex-form {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;

                    input {
                        max-width: 70%;
                    }
                }

            
            }

        }
    }












}