/*Index*/
.text-main {
    
    .lead {
        font-family: "Pragati Narrow", sans-serif;
        color: #4d4d4d;
        margin-top: 60px;
        padding-left: 50px;
    }

}

.parallax {
    min-height: 600px;
    background-image: url('../imagenes/carrusel2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h4 {
        color: white;
        font-size: 55PX;
        font-weight: 400;
        font-family: "DM Serif Display", serif;


    }
}

.bg-darken {
    background-color: grey;
    background-blend-mode: multiply;
}




/*galeria*/
#myVideo {
    min-width: 100%;
    min-height: 100%;
  }
  

.main-galeria {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    .grid-galeria {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;

        img {
            width: 300px;
            height: 200px;
            transition: all (.5s);

            &:hover {
                box-shadow: 4px 4px 4px rgb(14, 7, 7);
                filter: opacity(0.5);
            }
        }
    }
}

/*Habitaciones*/

.overlay {
    background-color: rgba($color: #000000, $alpha: .10);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    transition: 1s;
    z-index: 1;

}

.image-container {
    position: relative;
}

.image-container:hover .overlay {
    transition: 1s;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    border-radius: 200px;
    opacity: 0;

}

.image-container:hover .overlay p {
    transition: 1s;
    font-size: 0px;
}

.overlay p {
    font-size: 36px;
}

.card-title {
    display: none;
}


/*amenities*/
.tittle-main {
    font-size: 50px;
    color: #003454;
    font-weight: 700
}

.iconos-amenities {
    margin-top: 100px;

    i {
        font-size: 50px;
    }
}


/*contactos*/









.main-contacto {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .titulo-contacto {
        text-align: center;
        margin-bottom: 20px;

    }

    .seccion-contacto {
        display: flex;
        padding: 100px;
        justify-content: space-around;

        .parrafo-contacto {
            font-size: 24px;
            max-width: 500px;
            img {
                width: 320px;
                height: 300px;
            }
        }

        form {
            border: solid black 1px;
            border-radius: 15px;
            padding: 50px;
            box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
            max-width: 500px;

            .flex-form {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

            }

            input {
                max-width: 70%;
            }
        }
    }
}