@import url("https://fonts.googleapis.com/css2?family=Alata&family=Exo&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 70px;
  color: #003454;
}

.bg-darken {
  background-color: grey;
  background-blend-mode: multiply;
}

.bg-pattern {
  background-image: url("../imagenes/palm-1.webp"), url("../imagenes/palm-2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 50%;
  background-position: top right, bottom left;
  background-color: #F4eeDf;
}

.title-main {
  font-size: 50px;
  color: #003454;
  font-weight: 500;
}

.lead {
  font-family: "Pragati Narrow", sans-serif;
  color: #4d4d4d;
  margin-top: 60px;
}

/*Navbar*/
nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(52, 58, 64, 0.5);
  min-height: 6vh;
}
nav .nav-link {
  font-size: 1rem;
  color: white;
}

/*Index*/
.bg-image-container {
  background-image: none;
  height: 100vh;
  overflow: hidden;
}
.bg-image-container .bg-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../imagenes/banner-alternativo.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.bg-image-container .bg-image .content-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  mix-blend-mode: multiply;
  overflow: hidden;
}
.bg-image-container .bg-image #myVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
.bg-image-container .texto-bienvenida {
  height: 100%;
  width: 100%;
}
.bg-image-container .texto-bienvenida .carousel-item {
  opacity: 0;
  transition: opacity ease-out 0.5s;
}
.bg-image-container .texto-bienvenida .carousel-item h3 {
  font-size: 40px;
}
.bg-image-container .texto-bienvenida .carousel-item.active {
  opacity: 1 !important;
}

/*Amenities*/
.bg-image2 {
  background-image: url("../imagenes/pileta0.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Galeria*/
.bg-image3 {
  background-image: url("../imagenes/mandala.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image3 div {
  height: 100%;
  width: 100%;
}

/*Index*/
.btn-main {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
}

.parallax {
  min-height: 100vh;
  background-image: url("../imagenes/cenote1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

/*Habitaciones*/
.image-container {
  position: relative;
}
.image-container .overlay {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  transition: 1s;
  z-index: 1;
}

.image-container:hover .overlay {
  transition: 1s;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  opacity: 0;
}
.image-container:hover .overlay p {
  transition: 1s;
  font-size: 0px;
  font-size: 36px;
}

.card-title {
  display: none;
}

/*amenities*/
.iconos-amenities {
  margin-top: 100px;
}
.iconos-amenities i {
  font-size: 50px;
}

/*contactos*/
.bg-image4 {
  background-image: url("../imagenes/contacto.jpg");
  background-size: cover;
}

.seccion-contacto form {
  padding: 50px;
  width: 100%;
}
.seccion-contacto form .flex-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.seccion-contacto form input {
  max-width: 100%;
  margin-top: 10px;
  height: 50px;
}

.list-inline li a {
  color: white;
}

@media (max-width: 768px) {
  /* Index Responsive*/
  .text-main .lead {
    margin-top: 0px;
    padding-left: 0px;
  }
  /* Habitacion responsive*/
  .overlay {
    display: none;
  }
  .card-title {
    display: block;
  }
}
/*Mixin*//*# sourceMappingURL=main.css.map */