@import url("https://fonts.googleapis.com/css2?family=Alata&family=Exo&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 70px;
  color: #003454;
}

nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(52, 58, 64, 0.5);
  min-height: 6vh;
}
nav .nav-link {
  font-size: 1rem;
  color: white;
}

.bg-image {
  background-image: url("../imagenes/banner-alternativo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-image2 {
  background-image: url("../imagenes/pileta0.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-container {
  height: 100vh;
  overflow: hidden;
}

.carousel-item {
  opacity: 0;
  transition: opacity ease-out 0.5s;
}

.carousel-item.active {
  opacity: 1 !important;
}

/*Index*/
.text-main .lead {
  font-family: "Pragati Narrow", sans-serif;
  color: #4d4d4d;
  margin-top: 60px;
  padding-left: 50px;
}
.text-main .btn-main {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
}

.parallax {
  min-height: 100vh;
  background-image: url("../imagenes/cenote1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax h3 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.carousel-item h3 {
  font-size: 40px;
}

.bg-darken {
  background-color: grey;
  background-blend-mode: multiply;
}

.bg-pattern {
  background-image: url("../imagenes/palm-1.webp"), url("../imagenes/palm-2.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 50%;
  background-position: top right, bottom left;
}

/*galeria*/
#myVideo {
  min-width: 100%;
  min-height: 100%;
}

.main-galeria {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}
.main-galeria .grid-galeria {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.main-galeria .grid-galeria img {
  width: 300px;
  height: 200px;
  transition: all 0.5s;
}
.main-galeria .grid-galeria img:hover {
  box-shadow: 4px 4px 4px rgb(14, 7, 7);
  filter: opacity(0.5);
}

/*Habitaciones*/
.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  transition: 1s;
  z-index: 1;
}

.image-container {
  position: relative;
}

.image-container:hover .overlay {
  transition: 1s;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  opacity: 0;
}

.image-container:hover .overlay p {
  transition: 1s;
  font-size: 0px;
}

.overlay p {
  font-size: 36px;
}

.card-title {
  display: none;
}

/*amenities*/
.tittle-main {
  font-size: 50px;
  color: #003454;
  font-weight: 500;
}

.iconos-amenities {
  margin-top: 100px;
}
.iconos-amenities i {
  font-size: 50px;
}

/*contactos*/
.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-contacto .titulo-contacto {
  text-align: center;
  margin-bottom: 20px;
}
.main-contacto .seccion-contacto .parrafo-contacto {
  font-size: 24px;
  max-width: 500px;
}
.main-contacto .seccion-contacto .parrafo-contacto img {
  width: 320px;
  height: 300px;
}
.main-contacto .seccion-contacto form {
  padding: 50px;
  width: 100%;
}
.main-contacto .seccion-contacto form .flex-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.main-contacto .seccion-contacto form input {
  max-width: 100%;
  margin-top: 10px;
  height: 50px;
}

.list-inline li a {
  color: white;
}

@media (max-width: 768px) {
  /* Index Responsive*/
  .text-main .lead {
    margin-top: 0px;
    padding-left: 0px;
  }
  .parallax {
    min-height: 300px;
  }
  .parallax h4 {
    font-size: 30px;
    font-weight: 200;
  }
  /* Habitacion responsive*/
  .overlay {
    display: none;
  }
  .card-title {
    display: block;
  }
  /*Amenities responsive*/
  /* Galeria responsive*/
  .main-galeria .grid-galeria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }
  .main-galeria .grid-galeria img {
    width: 70vw;
    height: 30vh;
  }
  /* Contacto responsive*/
  .main-contacto {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .titulo-contacto {
    text-align: center;
    margin-bottom: 20px;
  }
  .main-contacto .seccion-contacto {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .main-contacto .seccion-contacto .parrafo-contacto {
    font-size: 18px;
    max-width: 350px;
    text-align: center;
    padding-top: 50px;
  }
  .main-contacto .seccion-contacto form {
    padding: 10px;
    max-width: 80vw;
  }
  .main-contacto .seccion-contacto form .flex-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .main-contacto .seccion-contacto form .flex-form input {
    max-width: 70%;
  }
}/*# sourceMappingURL=main.css.map */