@import url('https://fonts.googleapis.com/css2?family=Alata&family=Exo&family=Poppins:wght@300&display=swap');

/*estilos generales*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.nav-link  {
    font-size: 1.3rem;
}
.list-inline li a {
    color: white;

}
/*galeria*/
.banner-galeria {
    background-image: url("../imagenes/baner.png")
}

.main-galeria {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}


.grid-galeria img {
    width: 300px;
    height: 200px;


}

.grid-galeria img:hover {
    box-shadow: 4px 4px 4px rgb(14, 7, 7);
    filter: opacity(0.5);
}

.grid-galeria {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}


/*amenities*/

.main-amenities {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 100px;

}
.iconos-amenities {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
}


.iconos-amenities div i {
    font-size: 70px;
}

.banner-ammenities {
    background-image: url("../imagenes/terraza1.jpg")
}


/*habitaciones*/

.banner-habitaciones {
    background-image: url("../imagenes/escaleras.jpg")
}

.main-habitaciones {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;




}

.habitaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.imag-hab {
    width: 300px;
    height: auto;
}

/*contactos*/

form {
    border: solid black 1px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    max-width: 500px;
}

.main-contacto {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



}
.seccion-contacto {
    display: flex;
    padding: 100px;
    justify-content: space-around;

}
.titulo-contacto {
    text-align: center;
    margin-bottom: 20px;

}

.parrafo-contacto {
    font-size: 24px;
    max-width: 500px;
}

.flex-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
input {
    max-width: 70%;
}
.imagen-contacto {
    height: 500px;
    width: 500px;
}

.banner-contactos {
    background-image: url("../imagenes/gente.jpg")
}

/*Responsive*/
@media (max-width:768px) {
       
    /* Amenities responsive*/
    .main-amenities {
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 50px;
    
    }
    .iconos-amenities {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    } 
    .iconos-amenities div i {
        font-size: 40px;   
    }
    .iconos-amenities div {
        padding: 10px;   
    }
    
    /* Galeria responsive*/
    .grid-galeria img {
        width: 80vw;
        height: 25vh;
    
    
    }
    
    .grid-galeria {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 40px;
    }
    /* Contacto responsive*/
   .main-contacto {
        padding: 10px;
        display: flex;
        flex-direction: column;
                   
    }
    .seccion-contacto {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
       
    
    }
    form {
        padding: 10px;
        max-width: 80vw;
    }
          
    .titulo-contacto {
        text-align: center;
        margin-bottom: 20px;
    
    }
    
    .parrafo-contacto {
        font-size: 18px;
        max-width: 350px;
        text-align: center;
        padding-top: 50px;
    }
    
    .flex-form {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    
    }
    input {
        max-width: 70%;
    }   
   
}